- if !user_signed_in?
  .jumbotron
    %h1 Your Favorite Movies Reviewed
    %p Hashtag hoodie mumblecore selfies. Authentic keffiyeh leggings Kickstarter, narwhal jean shorts XOXO Vice Austin cardigan. Organic drinking vinegar freegan pickled.
    %p= link_to "Sign Up To Write A Review", new_user_registration_path, class: "btn btn-primary btn-lg"

    
#movies.transitions-enabled.clearfix.masonry.centered
  = render "movies"
  = content_tag :div, nil, id: "movies_data", data: {movies:  @movies}



