.row
  .col-md-4
    =image_tag @movie.image.url(:medium)
  .col-md-7.col-md-offset-1
    .panel.panel-default
      .panel-heading.clearfix
        %b=@movie.title
        #menucontainer{:style => "position: relative;"}
          #editmenu
            %em.glyphicon.glyphicon-cog
          #user-options.toolbar-icons{:style => "display: none;"}
            =link_to(edit_movie_path(@movie), method: :get, remote: true) do
              %em.glyphicon.glyphicon-edit
            =link_to movie_path(@movie), method: :delete,  remote: true ,data: { confirm: "Are you sure?" } do
              %em.glyphicon.glyphicon-trash
      .panel-body
        .row
          .col-md-3
            %strong Title:
          .col-md-9
            =@movie.title
        .row
          .col-md-3
            %strong Description:
          .col-md-9
            =@movie.description
        .row
          .col-md-3
            %strong Movie length:
          .col-md-9
            =@movie.movie_length 
        .row
          .col-md-3
            %strong Director:
          .col-md-9
            =@movie.director 
        .row
          .col-md-3
            %strong Rating:
          .col-md-9
            =@movie.rating 
        .row
          .col-md-3
            %strong Reviews:
          .col-md-9
            -# %div.star-rating(data-score="#{@avg_review}")
            %em.reviews-number="#{@reviews.length} reviews"
        .row
          .col-md-12
            #reviews
              %h3#review_form_header Write a review
              = render "reviews/form"
              .clearfix
              #reviews_wrapper
                = render @reviews


:javascript
  $('.star_rating').raty({
        path: '/assets/',
        readOnly: true,
        score: function() {
              return $(this).attr('data-score');
      }
    });
